.carousel-item img {
    height: 200px; /* Set the desired height for the carousel images */
    object-fit: cover; /* Maintain aspect ratio and cover the entire carousel item */
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.navbar {
    background-color: rgb(33, 33, 33);
    color: #fff;
}
.search-section {
    background-color: rgba(255, 255, 255, 0.81);
    padding: 20px 0;
}

.search-form {
    max-width: 800px;
    margin: 0 auto;
}

.search-form .form-group {
    margin-bottom: 15px;
}

.search-form .form-control {
    border-radius: 10px; /* Adjust the border-radius for symmetrical corners */
}

.search-form button {
    border-radius: 10px; /* Adjust the border-radius for symmetrical corners */
}

/* Center the button horizontally */
.search-form .form-row:last-child .form-group {
    display: flex;
    justify-content: center;
}

.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow for a better look */
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #666;
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary:disabled, .btn-primary.disabled {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}