
.nav__cont {
    position: fixed;
    width: 60px;
    top: 0;
    height: 100vh;
    z-index: 100;
    background-color: #202020;
    overflow: hidden;
    transition: width 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(197, 96, 14, 0.98);
    &:hover {
        width: 200px;
    }
    @media screen and (min-width: 600px) {
        width: 80px;
    }
}

.nav {
    list-style-type: none;
    color: white;
    &:first-child {
        padding-top: 1.5rem;
    }
}

.nav__items {
    padding-bottom: 4rem;
    font-family: "roboto";
    a {
        position: relative;
        display: block;
        top: -35px;
        padding-left: 25px;
        padding-right: 15px;
        transition: all 0.3s ease;
        margin-left: 25px;
        margin-right: 10px;
        text-decoration: none;
        color: white;
        font-family: "Your Font", sans-serif;
        font-weight: 100;
        font-size: 1.35em;
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 2px;
            background: radial-gradient(
                    circle at 94.02% 88.03%,
                    rgba(197, 96, 14, 0.98),
                    transparent 100%
            );
            opacity: 0;
            transition: all 0.5s ease;
            z-index: -10;
        }
    }
    &:hover a:after {
        opacity: 1;
    }
    svg {
        width: 26px;
        height: 26px;
        position: relative;
        left: -25px;
        cursor: pointer;
        @media screen and(min-width:600px) {
            width: 32px;
            height: 32px;
            left: -15px;
        }
    }
}

body {
    height: 100vh;
    background: radial-gradient(
            circle at 94.02% 88.03%,
            #000000,
            transparent 100%
    ),
    radial-gradient(circle at 25.99% 27.79%, #000000, transparent 100%),
    radial-gradient(circle at 50% 50%, #000000, #000000 100%);
}

h1 {
    margin-top: 6rem;
    margin-left: 80px;
    text-align: center;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 6px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 40%;
    min-height: 80%;
    z-index: -1; /* Ensure the video stays behind other content */
}


#title-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-align: center;
    z-index: 1; /* Ensure the title is above the video */
}



@keyframes lights {
    0% {
        color: hsl(230, 40%, 80%);
        text-shadow:
                0 0 1em hsla(23, 94%, 46%, 0.82),
                0 0 0.125em hsl(0, 0%, 0%),
                -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
                1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
        color: hsla(4, 80%, 90%, 0.75);
        text-shadow:
                0 0 1em hsla(26, 89%, 49%, 0.78),
                0 0 0.125em hsla(26, 89%, 49%, 0.98),
                -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
                0.5em 0.125em 0.25em hsl(349, 100%, 50%);
    }

    40% {
        color: hsl(230, 100%, 95%);
        text-shadow:
                0 0 1em hsl(0, 27%, 4%),
                0 0 0.125em hsla(0, 93%, 47%, 0.74),
                -0.25em -0.125em 0.125em hsla(23, 94%, 46%, 0.82),
                0.25em 0.125em 0.125em hsl(0, 0%, 100%);
    }

    70% {
        color: hsla(26, 89%, 49%, 0.98);
        text-shadow:
                0 0 1em hsla(26, 89%, 49%, 0.98),
                0 0 0.125em hsl(0, 27%, 4%),
                0.5em -0.125em 0.25em hsla(0, 93%, 47%, 0.74),
                -0.5em 0.125em 0.25em hsla(0, 93%, 47%, 0.74);
    }

    100% {
        color: hsla(23, 94%, 46%, 0.82);
        text-shadow:
                0 0 1em hsl(0, 5%, 12%),
                0 0 0.125em hsla(27, 87%, 41%, 0.98),
                1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
                -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

}



h2 {
    margin: auto;
    font-size: 3.5rem;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
}
