<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Car</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/updatecar.css">


</head>
<body>

<div class="navbar">
    <a th:href="@{'/home'}">Home</a>
    <a th:href="${'/profile'}">Menu</a>
</div>

<button class="button" onclick="document.getElementById('popup').style.display='block'" style="margin-top: 2% ;margin-bottom: 2%;margin-left: 2%">Add a Car</button>

<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>

        <form id="carForm"   onclick="document.getElementById('carForm').addEventListener('submit', handleSubmit);" method="POST" enctype="multipart/form-data" style="transform: scale(0.9);">

            <div class="form-group" style="display: flex; flex-wrap: wrap;">
                <input type="text" name="model" placeholder=" Enter model" required style="width: calc(50% - 12px); margin-right: 10px; font-family: 'Arial', FontAwesome;">
                <input type="text" name="price" placeholder=" Enter Price" required style="width: calc(50% - 12px); font-family: 'Arial', FontAwesome;">
            </div>

            <div class="form-group" style="display: flex; flex-wrap: wrap;">
                <input type="text" name="year" placeholder=" Enter Year" required style="width: calc(50% - 12px); margin-right: 10px; font-family: 'Arial', FontAwesome;">
                <input type="text" name="color" placeholder="Enter Color" required style="width: calc(50% - 12px); font-family: 'Arial', FontAwesome,serif;">
            </div>

            <div class="form-group" style="display: flex; flex-wrap: wrap;">
                <input type="text" name="mileage" placeholder=" Enter Mileage" required style="width: calc(50% - 12px); margin-right: 10px; font-family: 'Arial', FontAwesome;">
                <input type="text" name="engineType" placeholder="Enter Engine Type" required style="width: calc(50% - 12px); font-family: 'Arial', FontAwesome,serif;">
            </div>

            <div class="form-group" style="display: flex; flex-wrap: wrap;">
                <input type="text" name="transmission" placeholder=" Enter Transmission" required style="width: calc(50% - 12px); margin-right: 10px; font-family: 'Arial', FontAwesome;">
                <input type="text" name="fuelType" placeholder=" Enter Fuel Type" required style="width: calc(50% - 12px); font-family: 'Arial', FontAwesome;">
            </div>

            <div class="form-group" style="display: flex; flex-wrap: wrap;">
                <textarea name="description" placeholder="Enter Description" required style="width: calc(50% - 12px); margin-right: 10px; font-family: 'Arial', FontAwesome;"></textarea>
                <input type="file" name="image1" placeholder=" Add Photos" style="width: calc(50% - 12px); font-family: 'Arial', FontAwesome;">
                <input type="file" name="image2" placeholder=" Add Photos" style="width: calc(50% - 12px); margin-right: 10px; font-family: 'Arial', FontAwesome;">
                <input type="file" name="image3" placeholder=" Add Photos" style="width: calc(50% - 12px); font-family: 'Arial', FontAwesome;">
            </div>

            <div class="form-group" style="display: flex; justify-content: space-between;">
                <button type="submit" class="submit-btn">Add Car !</button>
            </div>
        </form>
    </div>
</div>
<div th:if="${#lists.isEmpty(customerAds)}"  role="alert" style="width: 600px; margin-left: 26% ; font-family:'Arial Black'">
    Hi! There is  No annonces to Display At the moment , Start Adding
</div>

<div  th:unless="${#lists.isEmpty(customerAds)}" th:each="ad : ${customerAds}" th:if="${ad.car != null}" style="margin-left: 14%; width: 1000px;">
    <div class="card">
        <img src="/imgs/BWM.jpg" alt="Car Image" class="card-img">
        <div class="card-details">
            <p>
                <i class="fas fa-car"></i> <!-- Car icon -->
                <span th:text="'Model: ' + ${ad.car.getModel()}"></span>
            </p>
            <p>
                <i class="fas fa-dollar-sign"></i> <!-- Dollar sign icon -->
                <span th:text="'Price: ' + ${ad.car.getPrice()}"></span>
            </p>
            <p>
                <i class="fas fa-calendar-alt"></i> <!-- Calendar icon -->
                <span th:text="'Year: ' + ${ad.car.getCar_year()}"></span>
            </p>
            <p>
                <i class="fas fa-paint-brush"></i> <!-- Color palette icon -->
                <span th:text="'Color: ' + ${ad.car.getColor()}"></span>
            </p>
            <p>
                <i class="fas fa-tachometer-alt"></i> <!-- Tachometer icon -->
                <span th:text="'Mileage: ' + ${ad.car.getMileage()} + ' miles'"></span>
            </p>
            <p>
                <i class="fas fa-info-circle"></i> <!-- Info circle icon -->
                <span th:text="'Description: ' + ${ad.getDescription()}"></span>
            </p>
            <p>
                <i class="fas fa-cogs"></i> <!-- Cogs icon -->
                <span th:text="'Transmission: ' + ${ad.car.getTransmission()}"></span>
            </p>
            <p>
                <i class="fas fa-gas-pump"></i> <!-- Gas pump icon -->
                <span th:text="'FuelType: ' + ${ad.car.getFuelType()}"></span>
            </p>
            <p>
                <i class="fas fa-engine"></i> <!-- Engine icon -->
                <span th:text="'EngineType: ' + ${ad.car.getEngineType()}"></span>
            </p>
            <p>
                <i class="fas fa-engine"></i> <!-- Engine icon -->
                <span th:if="${ad.getCar().getRejectionCase()}" th:text="'Rejected'" style="color: red;"><i class="fa fa-close"></i></span>
                <span th:if="${ad.getCar().getRejectionCase()}" ><i class="fa fa-close"></i></span>
                <span th:if="${!ad.getCar().getRejectionCase()}">
                <span th:text="${ad.car.getState() ? 'Approved' : 'Pending'}" th:style="${ad.car.getState() ? 'color: green;' : 'color: red;'}"></span>
               <span th:if="${!ad.car.getState()}"><i class='far fa-clock' style="color: red"></i></span>
               <span th:if="${ad.car.getState()}"><i class="fas fa-check-square" style="color: green"></i></span>
          </span>
            </p>


            <div class="card-buttons">
                <a th:href="@{'/deleteannonce/' + ${ad.car.getId()}}" class="button">Delete</a>
                <a th:href="@{'/Updateannonce/' + ${ad.getId()}} " class="button">Update</a>
            </div>
        </div>
    </div>
</div>






<script >


    function handleSubmit(event) {
        event.preventDefault();
        var formData = new FormData(document.getElementById('carForm'));


        fetch('/save-annonce', {
            method: 'POST',
            body: formData
        })
            .then(response => {

                if (response.ok) {

                    alert('Error adding ');


                    window.location.href = '/customerads';
                } else {

                    alert('Annonce Added successfully!');
                    window.location.href = '/customerads';
                }
            })


    }



    function closePopup() {
        var popup = document.getElementById('popup');
        popup.style.display = 'none';




    };
</script>

</body>
</html>
